.player {
  display: flex;
  flex-flow: column;
}

.playerHand {
  display: flex;
}

.playedCard {
  flex-grow: 0;
  display: flex;
}

.otherPlayerContainer {
  flex-grow: 1;
  padding:5px
}

.handLeftBuffer {
  flex-grow: 1;
}

.handRightBuffer {
  flex-grow: 1;
}