.player {
  display: flex;
  flex-flow: column;
}

.playerHand {
  display: flex;
}

.hiddenHand {
  padding-right: 45px;
  display: none;
}

.playedCard {
  flex-grow: 0;
  display: flex;
}

.otherPlayerContainer {
  flex-grow: 1;
  padding:5px
}

.handLeftBuffer {
  flex-grow: 1;
}

.handRightBuffer {
  flex-grow: 1;
}

.playerName {
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
}

.currentPlayer {
  text-shadow: white 1px 0 10px;
  background-color: yellow;
  border-radius: 2vw;
  margin: 10px;
  padding: 10px;
}